[Unit]
Description=prometheus-openstack-exporter
After=network.target

[Service]
EnvironmentFile=/etc/default/prometheus-openstack-exporter
#EnvironmentFile=/etc/admin.novarc
ExecStart=/bin/sh -c '. /etc/admin.novarc; exec /home/andrius/Documents/openstack-exporter/git/prometheus-openstack-exporter $CONFIG_FILE'
KillMode=process

[Install]
WantedBy=multi-user.target

